html, body {
  background: #f7f6fb;
  margin: 0;
  padding: 0 0 1rem 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.d_warp_banner {
  width: 7.5rem;
  height: 6rem;
  background: #fff;
  position: relative;
}

.d_warp_banner img {
  display: block;
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d_warp_main {
  display: block;
  box-sizing: border-box;
  width: 7.5rem;
  padding: 0.3rem;
  background: #fff;
  margin-top: 0.2rem;
  position: relative;
  text-decoration: none;
}

.d_warp_store {
  display: block;
  box-sizing: border-box;
  margin-top: 0.2rem;
  padding: 0.3rem;
  width: 7.5rem;
  height: 1rem;
  background: #fff;
  position: relative;
  text-decoration: none;
}

.d_warp_main .title, .d_warp_store .title {
  font-size: 0.34rem;
  color: #333;
  font-weight: bold;
}

.d_warp_main .date {
  font-size: 0.28rem;
  color: #888;
  margin-top: 0.05rem;
}

.d_warp_main .sore {
  font-size: 0.3rem;
  color: #ff6200;
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
}

.d_warp_main .sore span {
  font-size: 0.48rem;
}

.d_warp_main .text {
  font-size: 0.28rem;
  color: #666;
  margin-top: 0.08rem;
}

.d_warp_store .icon_arrow {
  width: 0.36rem;
  height: 0.36rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  transform: translateY(-50%);
}

.d_warp_footer {
  width: 7.5rem;
  height: 1rem;
  background: #fff;
  position: fixed;
  bottom: 0;
  box-shadow: 0 -0.02rem 0.07rem 0 #ddd;
  overflow: hidden;
}

.d_warp_footer .account {
  float: left;
  font-size: 0.34rem;
  color: #333;
  line-height: 1rem;
  margin-left: 0.3rem;
  font-weight: bold;
}

.d_warp_footer .account span {
  font-size: 0.36rem;
  color: #ff6200;
  font-weight: normal;
}

.d_warp_footer .btn {
  float: right;
  width: 2.53rem;
  height: 1rem;
  line-height: 1rem;
  background: #ff6200;
  color: #fff;
  text-align: center;
  font-size: 0.36rem;
}